<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    <!-- ✅ CORREÇÃO DO CSS -->
    <link rel="stylesheet" href="/login.css">
</head>
<body>
<main class="container">

    <!-- ✅ FORM CONECTADO AO BACKEND -->
    <form action="/logar" method="post">

        <h1>Cidade Viva</h1>
        <p class="subtitulo">"Conectando pessoas para melhorar a cidade"</p>

        <!-- INPUTS DE EMAIL E SENHA-->
        <div class="campo-input email">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 24 24">
                <path fill="#fff" d="M5 5h13a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3H5a3 3 0 0 1-3-3V8a3 3 0 0 1 3-3m0 1c-.5 0-.94.17-1.28.47l7.78 5.03l7.78-5.03C18.94 6.17 18.5 6 18 6zm6.5 6.71L3.13 7.28C3.05 7.5 3 7.75 3 8v9a2 2 0 0 0 2 2h13a2 2 0 0 0 2-2V8c0-.25-.05-.5-.13-.72z"/>
            </svg>

            <!-- ✅ NAME ADICIONADO -->
            <input name="email" placeholder="E-mail" type="email">
        </div>

        <div class="campo-input senha">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" viewBox="0 0 16 16">
                <path fill="#fff" d="M13.35 16H2.65C1.74 16 1 15.26 1 14.35v-7.7C1 5.74 1.74 5 2.65 5h10.7c.91 0 1.65.74 1.65 1.65v7.69c0 .91-.74 1.65-1.65 1.65ZM2.65 6c-.36 0-.65.29-.65.65v7.69c0 .36.29.65.65.65h10.7c.36 0 .65-.29.65-.65V6.65c0-.36-.29-.65-.65-.65z"/>
                <path fill="#fff" d="M12.54 6H3.46V4.54C3.46 2.04 5.5 0 8 0s4.54 2.04 4.54 4.54zM4.46 5h7.08v-.46C11.54 2.59 9.95 1 8 1S4.46 2.59 4.46 4.54z"/>
                <circle cx="12" cy="10.5" r="1" fill="#fff"/>
                <circle cx="8" cy="10.5" r="1" fill="#fff"/>
                <circle cx="4" cy="10.5" r="1" fill="#fff"/>
            </svg>

            <!-- ✅ NAME ADICIONADO -->
            <input name="password" placeholder="Senha" type="password">
        </div>

        <!-- ESQUECI MINHA SENHA-->
        <div>
            <label class="esqueceu">
                <a href="#">Esqueceu sua senha?</a>
            </label>
        </div>

        <!-- BOTAO DE LOGIN -->
        <button type="submit">Login</button>

        <!-- LEMBRAR SENHA -->
        <label class="checkbox">
            <input type="checkbox">
            Lembrar de mim
        </label>

        <!-- CRIAR CONTA -->
        <label class="criar">
            <!-- ✅ LINK PRO CONTROLLER -->
            <p>Novo por aqui? <a href="/registerUser">Criar conta</a></p>
        </label>

    </form>
</main>
</body>
</html>